<h1>All lessons</h1>

<div class = "col-md-12">
    <% @lessons.each do |lesson| %>
        <div class = "col-md-6">
            <%= link_to lesson.name, lesson, class: "btn btn-default well" %>
        </div>
    <% end %>
</div>
